#inicio{
	width: 469px;
	height: 661px;
	margin: auto;
	border: 1px solid #000;
}
#menu{
	background: url(../img/fondo_menu.jpg) no-repeat;
	background-size: cover;
	width: 469px;
	height: 661px;
	margin: auto;
	border: 1px solid #000;
}
#juego{
	width: 360px;
	height: 640px;
	margin: auto;
	border: 1px solid #000;
}
#instrucciones{
	width: 360px;
	height: 640px;
	margin: auto;
	border: 1px solid #000;
}
#creditos{
	width: 360px;
	height: 640px;
	margin: auto;
	border: 1px solid #000;
}


.estilo_inicio{
	background: url(../img/carga.jpg) no-repeat;
	background-size: cover;

	width: 100%;
	height: 100%;

}

.estilo_menu{
	
	
	border: 1px solid #000;
	margin: auto;
	margin-left:50px; 
	margin-right:50px;
	margin-top:350px;

	

}

header {
	width: 469px;
	height: 200px;
	border: 1px solid #000;
}

#logo{
		
	margin: auto;
	margin-left: 100px;
	margin-top: 20px;
	margin-right: 100px;
	margin-bottom: 20px ;
	

}






